<h1>Welcome to CSE Motors!</h1>

<div class="hero">
    <img src="/images/vehicles/delorean.jpg" alt="DMC DeLorean">
    <div class="hero-details">
        <h2>DMC Delorean</h2>
        <ul>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice</li>
        </ul>
        <a href="#" class="btn-own">Own Today</a>
    </div>
</div>

 <div class="features-section">
        <div class="upgrades">
            <h3>Delorean Upgrades</h3>
            <div class="upgrade-grid">
                <div class="upgrade-item">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux capacitor icon">
                    <a href="#">Flux Capacitor</a>
                </div>
                <div class="upgrade-item">
                    <img src="/images/upgrades/flame.jpg" alt="Flame decal icon">
                    <a href="#">Flame Decals</a>
                </div>
                <div class="upgrade-item">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper sticker icon">
                    <a href="#">Bumper Stickers</a>
                </div>
                <div class="upgrade-item">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub cap icon">
                    <a href="#">Hub Caps</a>
                </div>
            </div>
        </div>

<div class="info-boxes">
    <h3>DMC Delorean Reviews</h3>
    <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"The doors are a bit tricky." (3/5)</li>
        <li>"Perfect for attracting attention." (5/5)</li>
    </ul>
</div>